@charset "UTF-8";

@import
	url(https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

* {
	margin: 0;
	box-sizing: border-box;
}

@keyframes fadeIn {
	from { 
		opacity:0;
	}

	to {
		opacity: 1;
	}
}

html {
	font-family: "SpoqaHanSans";
	font-size: 16px;
	line-height: 1.5;
	color: #1f2d3d;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	animation: fadeIn 0.5s ease-in-out forwards;
	width: 100%;
	height: 100vh;
	margin: 0 auto;
	background-color: #1f2d3d;
}

html {
	background: #333333;
}

.insert {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-width: 320px;
	height: 65px;
	border-radius: 6px;
	color: #fff;
	font-size: 25px;
	font-weight: 500;
	letter-spacing: 0.01em;
	text-decoration: none;
	background: linear-gradient(90deg, #9f32ff 0%, #fb07f3 100%);
	margin-top: 24px;
}

.js-pscroll {
	position: relative;
	overflow: hidden;
}

.table100 .ps__rail-y {
	width: 9px;
	background-color: transparent;
	opacity: 1 !important;
	right: 5px;
}

.table100 .ps__rail-y::before {
	content: "";
	display: block;
	position: absolute;
	background-color: #ebebeb;
	border-radius: 5px;
	width: 100%;
	height: calc(100% - 30px);
	left: 0;
	top: 15px;
}

.table100 .ps__rail-y .ps__thumb-y {
	width: 100%;
	right: 0;
	background-color: transparent;
	opacity: 1 !important;
}

.table100 .ps__rail-y .ps__thumb-y::before {
	content: "";
	display: block;
	position: absolute;
	background-color: #cccccc;
	border-radius: 5px;
	width: 100%;
	height: calc(100% - 30px);
	left: 0;
	top: 15px;
}

/*//////////////////////////////////////////////////////////////////
[ Table ]*/
.limiter {
	width: 1000px;
}

.container-table100 {
	width: 100%;
	border-radius: 12px;
	background: #fff;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	padding: 33px 30px;
}

.container-table100 h1 {
	margin-bottom: 16px;
}

.wrap-table100 {
	width: 1000px;
}

/*//////////////////////////////////////////////////////////////////
[ Table ]*/
.table100 {
	background-color: #fff;
}

table {
	width: 100%;
}

th, td {
	font-weight: unset;
	padding-right: 10px;
	text-align: center;
	font-size: 16px;
}

.column1 {
	width: 10%;
	padding-left: 20px;
}

.column2 {
	width: 50%;
	font-family: "SpoqaHanSans";
}

.column2 a {
	text-decoration: none;
	font-family: "SpoqaHanSans";
	font-size: 18px;
	line-height: 1.5;
	color: #666;
	letter-spacing: 0.01em;
}

.column2 a:active, a:hover, a:visited {
	text-decoration: none;
	background-color: linear-gradient(90deg, #9f32ff 0%, #fb07f3 100%);
}

.column3 {
	width: 20%;
}

.column4 {
	width: 20%;
}

.table100-head th {
	padding-top: 18px;
	padding-bottom: 18px;
}

.table100-body td {
	padding-top: 16px;
	padding-bottom: 16px;
}

/*==================================================================
[ Fix header ]*/
.table100 {
	position: relative;
	padding-top: 60px;
}

.table100-head {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
}

.table100-body {
	max-height: 585px;
	overflow: auto;
}

/*==================================================================
[ Ver1 ]*/
.table100.ver1 th {
	font-family: Lato-Bold;
	font-size: 18px;
	color: #fff;
	line-height: 1.4;
	background-color: #9f32ff;
}

.table100.ver1 td {
	font-family: Lato-Regular;
	font-size: 15px;
	color: #808080;
	line-height: 1.4;
}

.table100.ver1 .table100-body tr:nth-child(even) {
	background-color: #f8f6ff;
}

/*---------------------------------------------*/
.table100.ver1 {
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
	-o-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
	-ms-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
}

.table100.ver1 .ps__rail-y {
	right: 5px;
}

.table100.ver1 .ps__rail-y::before {
	background-color: #ebebeb;
}

.table100.ver1 .ps__rail-y .ps__thumb-y::before {
	background-color: #cccccc;
}

/* Pagination */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  background-color: #fff;
  margin: 12px 0;
}

.pagination a,
.pagination button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 7px 12px;
  font-size: 24px;
  font-weight: 500;
  color: #444;
  text-decoration: none;
}

.pagination > a:first-child {
  border-radius: 3px 0 0 3px;
}

.pagination > a:last-child {
  border-radius: 0 3px 3px 0;
}

.pagination ol button {
  background-color: #fff;
  border: none;
}

.pagination ol {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  list-style-type: none;
  background-color: #fff;
}

.pagination li {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 32px;
  font-size: 13px;
  font-weight: 500;
  color: #0366d6;
}